In [1]:
import pandas as pd
df = pd.read_csv('../dataset/premier/lightgbm/lightgbm_base_odds_premier.csv')
df = df.sort_values(by=['match_year','match_month','match_day','match_hour','match_round','home_team','away_team']).reset_index(drop=True)
df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,youwin_1,youwin_2,youwin_X,youwin_opening_1,youwin_opening_2,youwin_opening_X,label,match_day,match_month,match_year
0,1.12,20.70,7.96,1.15,21.60,7.63,1.18,26.00,7.50,1.22,...,1.13,17.00,6.00,1.20,13.00,5.5,1,15,8,2009
1,1.73,5.14,3.49,1.66,5.09,3.45,1.77,5.30,3.60,1.81,...,1.65,4.80,3.50,NaN,NaN,NaN,2,15,8,2009
2,3.15,2.31,3.27,3.25,2.25,3.22,3.10,2.36,3.40,3.15,...,3.00,2.20,3.25,3.25,2.10,NaN,2,15,8,2009
3,2.23,3.29,3.26,2.27,3.34,3.22,2.27,3.40,3.35,2.33,...,2.20,3.20,3.25,2.10,3.25,NaN,2,15,8,2009
4,2.87,2.61,3.12,2.96,2.57,3.08,2.90,2.60,3.30,2.95,...,2.75,2.63,3.10,2.25,3.00,3.2,2,15,8,2009

In [3]:
user_pref_df = pd.read_csv('../dataset/premier/transformed/user_prefs_premier.csv')
user_pref_df = user_pref_df.rename(columns={'match_year':'league_year'})
user_pref_df.head()

,league_year,match_round,home_team,away_team,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
0,2009,1,Chelsea,Hull City,100.0,0.0,0.0
1,2009,1,Aston Villa,Wigan,88.1,9.5,2.4
2,2009,1,Wolves,West Ham,11.9,31.0,57.1
3,2009,1,Stoke City,Burnley,54.8,35.7,9.5
4,2009,1,Portsmouth,Fulham,33.3,35.7,31.0

In [4]:
sorted(set(df.away_team))

['Arsenal',
 'Aston Villa',
 'Birmingham',
 'Blackburn',
 'Blackpool',
 'Bolton',
 'Bournemouth',
 'Brighton',
 'Burnley',
 'Cardiff',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Hull',
 'Leicester',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Middlesbrough',
 'Newcastle',
 'Norwich',
 'Portsmouth',
 'QPR',
 'Reading',
 'Southampton',
 'Stoke',
 'Sunderland',
 'Swansea',
 'Tottenham',
 'Watford',
 'West Brom',
 'West Ham',
 'Wigan',
 'Wolves']

In [5]:
sorted(set(user_pref_df.away_team))

['Arsenal',
 'Aston Villa',
 'Birmingham',
 'Blackburn',
 'Blackpool',
 'Bolton',
 'Bournemouth',
 'Brighton',
 'Burnley',
 'Cardiff',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Hull City',
 'Leicester',
 'Liverpool',
 'Man City',
 'Man Utd',
 'Middlesbrough',
 'Newcastle',
 'Norwich',
 'Portsmouth',
 'QPR',
 'Reading',
 'Southampton',
 'Spurs',
 'Stoke City',
 'Sunderland',
 'Swansea',
 'Watford',
 'West Brom',
 'West Ham',
 'Wigan',
 'Wolves']

In [9]:
user_pref_df.loc[user_pref_df.home_team == 'Spurs', 'home_team'] = 'Tottenham'
user_pref_df.loc[user_pref_df.away_team == 'Spurs', 'away_team'] = 'Tottenham'
user_pref_df.loc[user_pref_df.home_team == 'Hull City', 'home_team'] = 'Hull'
user_pref_df.loc[user_pref_df.away_team == 'Hull City', 'away_team'] = 'Hull'
user_pref_df.loc[user_pref_df.home_team == 'Man Utd', 'home_team'] = 'Manchester Utd'
user_pref_df.loc[user_pref_df.away_team == 'Man Utd', 'away_team'] = 'Manchester Utd'
user_pref_df.loc[user_pref_df.home_team == 'Man City', 'home_team'] = 'Manchester City'
user_pref_df.loc[user_pref_df.away_team == 'Man City', 'away_team'] = 'Manchester City'
user_pref_df.loc[user_pref_df.home_team == 'Stoke City', 'home_team'] = 'Stoke'
user_pref_df.loc[user_pref_df.away_team == 'Stoke City', 'away_team'] = 'Stoke'

In [11]:
sorted(set(user_pref_df.away_team)) == sorted(set(df.away_team)) and sorted(set(user_pref_df.home_team)) == sorted(set(df.home_team))

True

In [12]:
user_pref_df.sort_values(by=['league_year','match_round','home_team','away_team']).head(19)

,league_year,match_round,home_team,away_team,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer
1,2009,1,Aston Villa,Wigan,88.1,9.5,2.4
6,2009,1,Blackburn,Manchester City,7.1,16.7,76.2
5,2009,1,Bolton,Sunderland,45.2,45.2,9.5
0,2009,1,Chelsea,Hull,100.0,0.0,0.0
7,2009,1,Everton,Arsenal,16.7,28.6,54.8
8,2009,1,Manchester Utd,Birmingham,100.0,0.0,0.0
4,2009,1,Portsmouth,Fulham,33.3,35.7,31.0
3,2009,1,Stoke,Burnley,54.8,35.7,9.5
9,2009,1,Tottenham,Liverpool,4.8,31.0,64.3
2,2009,1,Wolves,West Ham,11.9,31.0,57.1
18,2009,2,Arsenal,Bolton,-1.0,-1.0,-1.0
13,2009,2,Birmingham,Portsmouth,30.4,56.5,13.0
12,2009,2,Burnley,Manchester Utd,0.0,0.0,100.0
17,2009,2,Fulham,Blackburn,71.0,16.1,12.9
15,2009,2,Hull,Tottenham,21.7,26.1,52.2
14,2009,2,Liverpool,Stoke,100.0,0.0,0.0
19,2009,2,Manchester City,Everton,84.6,10.3,5.1
11,2009,2,Sunderland,Chelsea,0.0,4.8,95.2
16,2009,2,West Ham,Aston Villa,42.9,28.6,28.6

In [24]:
class_df = pd.read_csv('../dataset/premier/transformed/classifica_premier_0919.csv')
class_df = class_df.rename(columns={'match_year':'league_year'})
class_df.head()

,league_year,match_round,team,team_rank,team_points,team_goal_difference,team_goal_fatti,team_goal_subiti
0,2009,2,Arsenal,1,3,5,6,1
1,2009,2,West Ham,2,3,2,2,0
2,2009,2,Man City,3,3,2,2,0
3,2009,2,Wigan,4,3,2,2,0
4,2009,2,Stoke City,5,3,2,2,0

In [25]:
[x for x in list(set(class_df.team)) if x not in list(set(user_pref_df.away_team))]

['Spurs', 'Hull City', 'Man Utd', 'Man City', 'Stoke City']

In [26]:
class_df.loc[class_df.team == 'Spurs', 'team'] = 'Tottenham'
class_df.loc[class_df.team == 'Hull City', 'team'] = 'Hull'
class_df.loc[class_df.team == 'Man Utd', 'team'] = 'Manchester Utd'
class_df.loc[class_df.team == 'Man City', 'team'] = 'Manchester City'
class_df.loc[class_df.team == 'Stoke City', 'team'] = 'Stoke'

In [27]:
sorted(list(set(class_df.team))) == sorted(set(user_pref_df.away_team)) == sorted(set(df.away_team))

True

In [28]:
tmp = pd.merge(user_pref_df, class_df.add_prefix('home_'), how='left', left_on=['league_year','match_round','home_team'], right_on=['home_league_year','home_match_round','home_team']).fillna(0).drop(['home_league_year','home_match_round'],axis=1)
tmp = pd.merge(tmp, class_df.add_prefix('away_'), how='left', left_on=['league_year','match_round','away_team'], right_on=['away_league_year','away_match_round','away_team']).fillna(0).drop(['away_league_year','away_match_round'],axis=1)
tmp[tmp.columns[7:]] = tmp[tmp.columns[7:]].astype(int)
tmp.head()

,league_year,match_round,home_team,away_team,ht_win_pred_transfer,draw_pred_transfer,at_win_pred_transfer,home_team_rank,home_team_points,home_team_goal_difference,home_team_goal_fatti,home_team_goal_subiti,away_team_rank,away_team_points,away_team_goal_difference,away_team_goal_fatti,away_team_goal_subiti
0,2009,1,Chelsea,Hull,100.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0
1,2009,1,Aston Villa,Wigan,88.1,9.5,2.4,0,0,0,0,0,0,0,0,0,0
2,2009,1,Wolves,West Ham,11.9,31.0,57.1,0,0,0,0,0,0,0,0,0,0
3,2009,1,Stoke,Burnley,54.8,35.7,9.5,0,0,0,0,0,0,0,0,0,0
4,2009,1,Portsmouth,Fulham,33.3,35.7,31.0,0,0,0,0,0,0,0,0,0,0

In [29]:
tmp_df = pd.merge(df, tmp, how='left',on=['league_year', 'match_round','home_team','away_team'])
tmp_df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,home_team_rank,home_team_points,home_team_goal_difference,home_team_goal_fatti,home_team_goal_subiti,away_team_rank,away_team_points,away_team_goal_difference,away_team_goal_fatti,away_team_goal_subiti
0,1.12,20.70,7.96,1.15,21.60,7.63,1.18,26.00,7.50,1.22,...,0,0,0,0,0,0,0,0,0,0
1,1.73,5.14,3.49,1.66,5.09,3.45,1.77,5.30,3.60,1.81,...,0,0,0,0,0,0,0,0,0,0
2,3.15,2.31,3.27,3.25,2.25,3.22,3.10,2.36,3.40,3.15,...,0,0,0,0,0,0,0,0,0,0
3,2.23,3.29,3.26,2.27,3.34,3.22,2.27,3.40,3.35,2.33,...,0,0,0,0,0,0,0,0,0,0
4,2.87,2.61,3.12,2.96,2.57,3.08,2.90,2.60,3.30,2.95,...,0,0,0,0,0,0,0,0,0,0

In [30]:
sorted(tmp_df.columns)

['10bet_1',
 '10bet_2',
 '10bet_X',
 '10bet_opening_1',
 '10bet_opening_2',
 '10bet_opening_X',
 '188bet_1',
 '188bet_2',
 '188bet_X',
 '188bet_opening_1',
 '188bet_opening_2',
 '188bet_opening_X',
 '1xbet_1',
 '1xbet_2',
 '1xbet_X',
 '1xbet_opening_1',
 '1xbet_opening_2',
 '1xbet_opening_X',
 '888sport_1',
 '888sport_2',
 '888sport_X',
 '888sport_opening_1',
 '888sport_opening_2',
 '888sport_opening_X',
 'at_win_pred_transfer',
 'away_goals',
 'away_team',
 'away_team_goal_difference',
 'away_team_goal_fatti',
 'away_team_goal_subiti',
 'away_team_points',
 'away_team_rank',
 'bet-at-home_1',
 'bet-at-home_2',
 'bet-at-home_X',
 'bet-at-home_opening_1',
 'bet-at-home_opening_2',
 'bet-at-home_opening_X',
 'bet365_1',
 'bet365_2',
 'bet365_X',
 'bet365_opening_1',
 'bet365_opening_2',
 'bet365_opening_X',
 'betclic_1',
 'betclic_2',
 'betclic_X',
 'betclic_opening_1',
 'betclic_opening_2',
 'betclic_opening_X',
 'betfair exchange_1',
 'betfair exchange_2',
 'betfair exchange_X',
 'betfair exchange_opening_1',
 'betfair exchange_opening_2',
 'betfair exchange_opening_X',
 'betfair_1',
 'betfair_2',
 'betfair_X',
 'betfair_opening_1',
 'betfair_opening_2',
 'betfair_opening_X',
 'betsafe_1',
 'betsafe_2',
 'betsafe_X',
 'betsafe_opening_1',
 'betsafe_opening_2',
 'betsafe_opening_X',
 'betsson_1',
 'betsson_2',
 'betsson_X',
 'betsson_opening_1',
 'betsson_opening_2',
 'betsson_opening_X',
 'betvictor_1',
 'betvictor_2',
 'betvictor_X',
 'betvictor_opening_1',
 'betvictor_opening_2',
 'betvictor_opening_X',
 'betway_1',
 'betway_2',
 'betway_X',
 'betway_opening_1',
 'betway_opening_2',
 'betway_opening_X',
 'bwin_1',
 'bwin_2',
 'bwin_X',
 'bwin_opening_1',
 'bwin_opening_2',
 'bwin_opening_X',
 'comeon_1',
 'comeon_2',
 'comeon_X',
 'comeon_opening_1',
 'comeon_opening_2',
 'comeon_opening_X',
 'draw_pred_transfer',
 'home_goals',
 'home_team',
 'home_team_goal_difference',
 'home_team_goal_fatti',
 'home_team_goal_subiti',
 'home_team_points',
 'home_team_rank',
 'ht_win_pred_transfer',
 'interwetten_1',
 'interwetten_2',
 'interwetten_X',
 'interwetten_opening_1',
 'interwetten_opening_2',
 'interwetten_opening_X',
 'label',
 'league_year',
 'match_date',
 'match_day',
 'match_hour',
 'match_month',
 'match_round',
 'match_year',
 'paddy power_1',
 'paddy power_2',
 'paddy power_X',
 'paddy power_opening_1',
 'paddy power_opening_2',
 'paddy power_opening_X',
 'pinnacle_1',
 'pinnacle_2',
 'pinnacle_X',
 'pinnacle_opening_1',
 'pinnacle_opening_2',
 'pinnacle_opening_X',
 'sbobet_1',
 'sbobet_2',
 'sbobet_X',
 'sbobet_opening_1',
 'sbobet_opening_2',
 'sbobet_opening_X',
 'unibet_1',
 'unibet_2',
 'unibet_X',
 'unibet_opening_1',
 'unibet_opening_2',
 'unibet_opening_X',
 'william hill_1',
 'william hill_2',
 'william hill_X',
 'william hill_opening_1',
 'william hill_opening_2',
 'william hill_opening_X',
 'youwin_1',
 'youwin_2',
 'youwin_X',
 'youwin_opening_1',
 'youwin_opening_2',
 'youwin_opening_X']

In [31]:
final_df = tmp_df.drop(['match_date','home_team','away_team','home_goals','away_goals'], axis=1)
final_df = final_df.sort_values(by = ['league_year', 'match_round']).reset_index(drop=True)
final_df = final_df.fillna(0)
final_df.head()

,10bet_1,10bet_2,10bet_X,10bet_opening_1,10bet_opening_2,10bet_opening_X,188bet_1,188bet_2,188bet_X,188bet_opening_1,...,home_team_rank,home_team_points,home_team_goal_difference,home_team_goal_fatti,home_team_goal_subiti,away_team_rank,away_team_points,away_team_goal_difference,away_team_goal_fatti,away_team_goal_subiti
0,1.12,20.70,7.96,1.15,21.60,7.63,1.18,26.00,7.50,1.22,...,0,0,0,0,0,0,0,0,0,0
1,1.73,5.14,3.49,1.66,5.09,3.45,1.77,5.30,3.60,1.81,...,0,0,0,0,0,0,0,0,0,0
2,3.15,2.31,3.27,3.25,2.25,3.22,3.10,2.36,3.40,3.15,...,0,0,0,0,0,0,0,0,0,0
3,2.23,3.29,3.26,2.27,3.34,3.22,2.27,3.40,3.35,2.33,...,0,0,0,0,0,0,0,0,0,0
4,2.87,2.61,3.12,2.96,2.57,3.08,2.90,2.60,3.30,2.95,...,0,0,0,0,0,0,0,0,0,0

In [32]:
sorted(final_df.columns)

['10bet_1',
 '10bet_2',
 '10bet_X',
 '10bet_opening_1',
 '10bet_opening_2',
 '10bet_opening_X',
 '188bet_1',
 '188bet_2',
 '188bet_X',
 '188bet_opening_1',
 '188bet_opening_2',
 '188bet_opening_X',
 '1xbet_1',
 '1xbet_2',
 '1xbet_X',
 '1xbet_opening_1',
 '1xbet_opening_2',
 '1xbet_opening_X',
 '888sport_1',
 '888sport_2',
 '888sport_X',
 '888sport_opening_1',
 '888sport_opening_2',
 '888sport_opening_X',
 'at_win_pred_transfer',
 'away_team_goal_difference',
 'away_team_goal_fatti',
 'away_team_goal_subiti',
 'away_team_points',
 'away_team_rank',
 'bet-at-home_1',
 'bet-at-home_2',
 'bet-at-home_X',
 'bet-at-home_opening_1',
 'bet-at-home_opening_2',
 'bet-at-home_opening_X',
 'bet365_1',
 'bet365_2',
 'bet365_X',
 'bet365_opening_1',
 'bet365_opening_2',
 'bet365_opening_X',
 'betclic_1',
 'betclic_2',
 'betclic_X',
 'betclic_opening_1',
 'betclic_opening_2',
 'betclic_opening_X',
 'betfair exchange_1',
 'betfair exchange_2',
 'betfair exchange_X',
 'betfair exchange_opening_1',
 'betfair exchange_opening_2',
 'betfair exchange_opening_X',
 'betfair_1',
 'betfair_2',
 'betfair_X',
 'betfair_opening_1',
 'betfair_opening_2',
 'betfair_opening_X',
 'betsafe_1',
 'betsafe_2',
 'betsafe_X',
 'betsafe_opening_1',
 'betsafe_opening_2',
 'betsafe_opening_X',
 'betsson_1',
 'betsson_2',
 'betsson_X',
 'betsson_opening_1',
 'betsson_opening_2',
 'betsson_opening_X',
 'betvictor_1',
 'betvictor_2',
 'betvictor_X',
 'betvictor_opening_1',
 'betvictor_opening_2',
 'betvictor_opening_X',
 'betway_1',
 'betway_2',
 'betway_X',
 'betway_opening_1',
 'betway_opening_2',
 'betway_opening_X',
 'bwin_1',
 'bwin_2',
 'bwin_X',
 'bwin_opening_1',
 'bwin_opening_2',
 'bwin_opening_X',
 'comeon_1',
 'comeon_2',
 'comeon_X',
 'comeon_opening_1',
 'comeon_opening_2',
 'comeon_opening_X',
 'draw_pred_transfer',
 'home_team_goal_difference',
 'home_team_goal_fatti',
 'home_team_goal_subiti',
 'home_team_points',
 'home_team_rank',
 'ht_win_pred_transfer',
 'interwetten_1',
 'interwetten_2',
 'interwetten_X',
 'interwetten_opening_1',
 'interwetten_opening_2',
 'interwetten_opening_X',
 'label',
 'league_year',
 'match_day',
 'match_hour',
 'match_month',
 'match_round',
 'match_year',
 'paddy power_1',
 'paddy power_2',
 'paddy power_X',
 'paddy power_opening_1',
 'paddy power_opening_2',
 'paddy power_opening_X',
 'pinnacle_1',
 'pinnacle_2',
 'pinnacle_X',
 'pinnacle_opening_1',
 'pinnacle_opening_2',
 'pinnacle_opening_X',
 'sbobet_1',
 'sbobet_2',
 'sbobet_X',
 'sbobet_opening_1',
 'sbobet_opening_2',
 'sbobet_opening_X',
 'unibet_1',
 'unibet_2',
 'unibet_X',
 'unibet_opening_1',
 'unibet_opening_2',
 'unibet_opening_X',
 'william hill_1',
 'william hill_2',
 'william hill_X',
 'william hill_opening_1',
 'william hill_opening_2',
 'william hill_opening_X',
 'youwin_1',
 'youwin_2',
 'youwin_X',
 'youwin_opening_1',
 'youwin_opening_2',
 'youwin_opening_X']

In [33]:
print(f"# pareggi : {list(final_df.label).count(0)} ({list(final_df.label).count(0)*100/final_df.shape[0]:.2f})")
print(f"# vittorie casa : {list(final_df.label).count(1)} ({list(final_df.label).count(1)*100/final_df.shape[0]:.2f})")
print(f"# vittorie fuori casa : {list(final_df.label).count(2)} ({list(final_df.label).count(2)*100/final_df.shape[0]:.2f})")

# pareggi : 940 (24.74)
# vittorie casa : 1758 (46.26)
# vittorie fuori casa : 1102 (29.00)

In [56]:
import lightgbm as lgb
import xgboost as xgb
from sklearn.model_selection import train_test_split

X = final_df.drop(['label'],axis=1)
y = final_df.label

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15,shuffle=False)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, shuffle=False)

In [60]:
from skopt.space import Real, Integer
from skopt.utils import use_named_args
space  = [Integer(1, 20, name='max_depth'),
          Real(10**-4, 10**0, "log-uniform", name='learning_rate'),
          Integer(50, 1500, name='n_estimators'),
        Integer(3,50,name='num_leaves'),
          Integer(5,30, name=' min_child_samples')
]

@use_named_args(space)
def objective(**params):
    model = xgb.XGBClassifier(**params)
    model.fit(X_train, y_train)
    predicted_y = model.predict(X_test)
    correct = 0
    for ind,true,predicted in zip(y_test.index, y_test, predicted_y):
        if true == predicted:
            correct+=1
    return -(correct*100 / y_test.shape[0])

In [ ]:
from skopt import forest_minimize
import numpy as np
res_gp = forest_minimize(objective, space, n_calls=100, random_state=42, verbose=False)

print("Best score=%.4f" % res_gp.fun)
print("""Best parameters:
- max_depth=%d
- learning_rate=%.6f
- n_estimators=%d
- num_leaver=%d
-  min_child_samples=%d""" 
      % (res_gp.x[0], res_gp.x[1], 
                            res_gp.x[2], res_gp.x[3], 
                            res_gp.x[4]))

In [ ]:
model = xgb.XGBClassifier(max_depth=4,learning_rate=0.001287, n_estimators=868, num_leaves=34,min_child_samples=29)
model.fit(X_train, y_train)
predicted_y = model.predict(X_val)
correct = 0
for ind,true,predicted in zip(y_val.index, y_val, predicted_y):
    if true == predicted:
        correct+=1
correct*100 / y_val.shape[0]

In [54]:
# baseline che usa solo le quote
result = []
for p1,pX,p2 in zip(X_val['10bet_1'], X_val['10bet_X'], X_val['10bet_2']):
    if min([p1,pX,p2]) == p1: result.append(1)
    elif min([p1,pX,p2]) == pX: result.append(0)
    else: result.append(2)

correct = 0
for ind,true,predicted in zip(y_val.index, y_val, result):
    if true == predicted:
        correct+=1
correct*100 / y_val.shape[0]

60.0

In [55]:
# baseline che usa solo le predictions
result = []
for p1,pX,p2 in zip(X_val['ht_win_pred_transfer'], X_val['draw_pred_transfer'], X_val['at_win_pred_transfer']):
    if max([p1,pX,p2]) == p1: result.append(1)
    elif max([p1,pX,p2]) == pX: result.append(0)
    else: result.append(2)

correct = 0
for ind,true,predicted in zip(y_val.index, y_val, result):
    if true == predicted:
        correct+=1
correct*100 / y_val.shape[0]

56.70103092783505

In [22]:
# mio modello
predicted_y = model.predict(X_test, raw_score =True)
predicted_y.shape

(570, 3)