In [1]:
import pandas as pd
tweets = pd.read_csv('tweets_premier_1819.csv')
# remove duplicated tweets
tweets = tweets.drop_duplicates(['tweet_id']).reset_index(drop=True)
tweets = tweets.drop(['tweet_text','tweet_id','tweet_username','tweet_date','tweet_mentions','tweet_hashtags','tweet_geo'], axis=1)
tweets.head()

,match_round,home_team,away_team,team,tweet_retweets,tweet_favorites
0,38,Brighton,Manchester City,Brighton,0,2
1,38,Brighton,Manchester City,Brighton,8,40
2,38,Brighton,Manchester City,Brighton,0,0
3,38,Brighton,Manchester City,Brighton,0,0
4,38,Brighton,Manchester City,Brighton,0,0

In [2]:
feature = tweets.groupby(['match_round','home_team','away_team','team']).sum().reset_index()
feature.head(10)

,match_round,home_team,away_team,team,tweet_retweets,tweet_favorites
0,1,Arsenal,Manchester City,Arsenal,2288,11238
1,1,Arsenal,Manchester City,Manchester City,4301,28705
2,1,Bournemouth,Cardiff,Bournemouth,819,4237
3,1,Bournemouth,Cardiff,Cardiff,3407,17304
4,1,Fulham,Crystal Palace,Crystal Palace,916,5774
5,1,Fulham,Crystal Palace,Fulham,1584,8355
6,1,Huddersfield,Chelsea,Chelsea,1419,7867
7,1,Huddersfield,Chelsea,Huddersfield,1479,7046
8,1,Liverpool,West Ham,Liverpool,1103,5738
9,1,Liverpool,West Ham,West Ham,570,2888

In [3]:
calendar = feature[['match_round', 'home_team', 'away_team']].drop_duplicates().reset_index(drop=True)
calendar.head()

   match_round     home_team        away_team
0            1       Arsenal  Manchester City
1            1   Bournemouth          Cardiff
2            1        Fulham   Crystal Palace
3            1  Huddersfield          Chelsea
4            1     Liverpool         West Ham

In [ ]:
final_df = pd.merge(calendar, feature.drop(['home_team','away_team'], axis=1), how='left', right_on = ['match_round', 'team'], left_on = ['match_round', 'home_team'])
final_df = pd.merge(final_df, feature.drop(['home_team','away_team'], axis=1), how='left', right_on = ['match_round', 'team'], left_on = ['match_round', 'away_team'])
final_df = final_df.drop(['team_x','team_y'], axis=1)
final_df = final_df.rename(columns={'tweet_retweets_x':'tweet_retweets_home', 
                            'tweet_favorites_x': 'tweet_favorites_home',
                            'tweet_retweets_y':'tweet_retweets_away', 
                            'tweet_favorites_y': 'tweet_favorites_away',
                           })

In [12]:
final_df

,match_round,home_team,away_team,tweet_retweets_home,tweet_favorites_home,tweet_retweets_away,tweet_favorites_away
0,1,Arsenal,Manchester City,2288,11238,4301,28705
1,1,Bournemouth,Cardiff,819,4237,3407,17304
2,1,Fulham,Crystal Palace,1584,8355,916,5774
3,1,Huddersfield,Chelsea,1479,7046,1419,7867
4,1,Liverpool,West Ham,1103,5738,570,2888
5,1,Manchester Utd,Leicester,1301,5564,981,4619
6,1,Newcastle,Tottenham,429,2296,919,4868
7,1,Southampton,Burnley,1222,11887,983,3431
8,1,Watford,Brighton,946,5332,1824,7809
9,1,Wolves,Everton,445,3360,815,5913
10,2,Brighton,Manchester Utd,453,2722,2490,15625
11,2,Burnley,Watford,10379,22825,617,4368
12,2,Cardiff,Newcastle,780,3761,555,2247
13,2,Chelsea,Arsenal,1778,8013,5198,45011
14,2,Crystal Palace,Liverpool,929,6574,1374,6908
15,2,Everton,Southampton,3636,9546,351,2896
16,2,Leicester,Wolves,620,3396,517,2930
17,2,Manchester City,Huddersfield,7607,38264,1016,5212
18,2,Tottenham,Fulham,1565,10054,807,6681
19,2,West Ham,Bournemouth,1001,4895,812,3799
20,3,Arsenal,West Ham,2943,9470,861,3708
21,3,Bournemouth,Everton,604,3081,1563,13249
22,3,Fulham,Burnley,1072,9358,410,1703
23,3,Huddersfield,Cardiff,707,3481,534,1258
24,3,Liverpool,Brighton,2948,10321,624,4228
25,3,Manchester Utd,Tottenham,1206,4377,1144,8467
26,3,Newcastle,Chelsea,1679,7823,2728,11106
27,3,Southampton,Leicester,908,3672,395,2491
28,3,Watford,Crystal Palace,844,4920,583,4125
29,3,Wolves,Manchester City,729,3022,5679,40780
...,...,...,...,...,...,...,...
350,36,Brighton,Newcastle,528,5967,3639,6434
351,36,Burnley,Manchester City,481,1889,2662,25542
352,36,Crystal Palace,Everton,444,3287,1013,7482
353,36,Fulham,Cardiff,457,2097,670,4409
354,36,Leicester,Arsenal,536,4148,2220,11807
355,36,Liverpool,Huddersfield,1729,10232,486,6234
356,36,Manchester Utd,Chelsea,1450,10289,2885,20911
357,36,Southampton,Bournemouth,3117,13456,1000,5105
358,36,Tottenham,West Ham,1388,11359,401,2206
359,36,Watford,Wolves,599,5622,744,8222
360,37,Arsenal,Brighton,2508,19885,583,6031
361,37,Bournemouth,Tottenham,1172,8916,983,6423
362,37,Cardiff,Crystal Palace,318,1641,960,7799
363,37,Chelsea,Watford,2338,16421,388,3495
364,37,Everton,Burnley,1145,7385,215,785
365,37,Huddersfield,Manchester Utd,1519,12233,2268,17704
366,37,Manchester City,Leicester,3523,26602,592,4415
367,37,Newcastle,Liverpool,1703,10292,1522,7692
368,37,West Ham,Southampton,687,4934,674,6658
369,37,Wolves,Fulham,748,7488,303,2146
370,38,Brighton,Manchester City,1223,13290,5583,36981
371,38,Burnley,Arsenal,249,1429,5630,45336
372,38,Crystal Palace,Bournemouth,1069,10324,567,2818
373,38,Fulham,Newcastle,661,6488,1122,7580
374,38,Leicester,Chelsea,582,5508,2552,19412
375,38,Liverpool,Wolves,1362,8970,918,7546
376,38,Manchester Utd,Cardiff,2807,19414,444,2825
377,38,Southampton,Huddersfield,644,6779,917,7891
378,38,Tottenham,Everton,2436,13322,804,7414
379,38,Watford,West Ham,696,6420,539,2805

In [13]:
df_results = pd.read_csv('premier_lgb_ready.csv')
df_results = df_results[df_results['league_year']==2018].reset_index(drop=True)[['home_team','away_team','label']]

In [14]:
dataset = pd.merge(final_df, df_results)
dataset.head()

,match_round,home_team,away_team,tweet_retweets_home,tweet_favorites_home,tweet_retweets_away,tweet_favorites_away,label
0,1,Arsenal,Manchester City,2288,11238,4301,28705,2
1,1,Bournemouth,Cardiff,819,4237,3407,17304,1
2,1,Fulham,Crystal Palace,1584,8355,916,5774,2
3,1,Huddersfield,Chelsea,1479,7046,1419,7867,2
4,1,Liverpool,West Ham,1103,5738,570,2888,1

In [15]:
dataset.to_csv('twitter_retweets_favs_2018.csv', index=False)

In [16]:
# let's transform the teams in onehot encoding
onehot_home_names = pd.get_dummies(dataset.home_team, prefix = "Home_Team_")
new_ds = pd.concat([dataset, onehot_home_names], axis=1).drop(['home_team'], axis=1)
onehot_away_names = pd.get_dummies(dataset.away_team, prefix = "Away_Team_")
final_ds = pd.concat([new_ds, onehot_away_names], axis=1).drop(['away_team'], axis=1)

In [17]:
final_ds.shape

(380, 46)

In [18]:
# the test set is composed of the last 50 games of the EPL
X_train = final_ds.drop(['label'], axis=1)[:330]
X_test = final_ds.drop(['label'], axis=1)[-50:]
y_train = final_ds['label'][:330]
y_test = final_ds['label'][-50:]

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression(penalty='l2')
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.50

C:\Users\BlueAce17\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\BlueAce17\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)